/** Globalne style **/
body {
	background-color: grey;
}
p {
	font-size: .9rem;
	line-height: 1.75rem;
}

/** BLOG**/

.carousel-last img {
    width: 100%
}

.It img {
    width: 520px;
    height: 420px !important
}

#myCarousel .carousel-indicators {
    position: static;
    margin-top: 0px
}

#myCarousel .carousel-indicators>li {
    width: 100px
}

#myCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#myCarousel .carousel-indicators li.active img {
    opacity: 1
}

#myCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

/** Stopka **/
.site-footer {
	padding: 50px 0 10px;
	background-color: #2D3E50;
	font-size: .9rem;
}

.footer-first-col li {
	padding: .6rem 0;
}

.footer-first-col li i {
	margin-right: .75rem;
}

/** Copyright **/
.copyright {
	padding: 10px 0;
}

.copyright-designed {
	font-size: .8rem;
}
.tekst-opisowy {
	width: 300px;
}